(
	default_img: "default.png",
	name: "Giratrons Incredibly Crappy Sounds",
	sounds: [
		(
			name: "POYO!",
			wav: "kirby-poyo.mp3",
			img: None
		),
		(
			name: "*dun*",
			wav: "winxp_error.mp3",
			img: None
		),
		(
			name: "*villager noises*",
			wav: "voice.wav",
			img: None
		),
		(
			name: "THICC",
			wav: "thicc.mp3",
			img: None
		),
		(
			name: "Simul-f*cking-taneously",
			wav: "randall_simultaneously.wav",
			img: None
		),
		(
			name: "SANESS",
			wav: "saness.wav",
			img: Some("saness.png")
		),
		(
			name: "DO U WANNA HAV A BAD TOM",
			wav: "badtom.wav",
			img: Some("saness.png")
		),
		(
			name: "UP",
			wav: "up.wav",
			img: Some("up.png")
		),
		(
			name: "THE ONE GOAL",
			wav: "one_goal.wav",
			img: Some("up.png")
		),
		(
			name: "Chase myself thru hell",
			wav: "gonna chase myself thru hell.wav",
			img: Some("billwurtz.png")
		),
		(
			name: "And dont die",
			wav: "and dont die.wav",
			img: Some("billwurtz.png")
		),
		(
			name: "Oh thats GAY",
			wav: "thats_gay.wav",
			img: Some("demomesa.png")
		)
	]
)
